################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ClockCalendar/config/applicationhost.config
/.vs/ClockCalendar/v16/.suo
/.vs/slnx.sqlite
