html {
  -webkit-text-size-adjust: 100%;
}

body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  overflow: hidden;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
}

#container{
  width:100%;
  height:100%;
  background:black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:16px;
}

#container_clock{
  width: 42vw;
  height: 42vw;
  position:relative;
}

.line{
  width:4px;
  height:18px;
  position:absolute;
  background:white;
  border-radius:2px;
}

.line_thin{
  width:2px;
  height:14px;
  background:#BDBDBD;
}

.clock-hour {
  position: absolute;
  top: 48px;
  left: calc(50% - 5px);
  width: 10px;
  height: calc(50% - 50px);
  background: white;
  transform-origin: bottom;
  transform: rotate(90deg);
}

.clock-min {
  position: absolute;
  top: 22px;
  left: calc(50% - 2px);
  width: 4px;
  height: calc(50% - 24px);
  background: white;
  transform-origin: bottom;
  transform: rotate(0deg);
}

.clock-sec {
  position: absolute;
  top: 8px;
  left: calc(50%);
  width: 2px;
  height: calc(50% - 10px);
  background: #ffa015;
  transform-origin: bottom;
  transform: rotate(0deg);
  transition-property: transform ;
}


#container_calendar{
  width:42vw;
  color:white;
}


#container_calendar table{
  width:100%;
}

#container_calendar td{
  text-align: center;
}

.td_today{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:48px;
}

.today{
  color:black;
  background:white;
  border-radius:50%;
  display:inline-block;
  height:48px;
  width:48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  font-weight:bold;
}

.month{
  line-height: 68px !important;
  font-size:36px !important;
}

.saturday{
  color:#535999 !important;
  font-weight:bold;
}

.holiday{
  color:#9b4242 !important;
  font-weight:bold;
}

.weekend{
  color:red;
}

#container_calendar table tr th,#container_calendar table tr td{
  color:white;
  line-height: 48px;
  font-size:28px;
}


/* 画面が横長の場合（ランドスケープモード） */
@media (min-aspect-ratio: 1/1) {
  #container {
    flex-direction: row;
  }
}

/* 画面が縦長の場合（ポートレートモード） */
@media (max-aspect-ratio: 1/1) {
  #container {
    flex-direction: column;
  }


  #container_clock{
    width: 49vh;
    height: 49vh;
  }

  #container_calendar{
    width:98vw;
  }
}
