html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  font-family: "メイリオ", "Meiryo", sans-serif;
}

#container_btn {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn_wake_lock {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  height: 120px;
  width: 480px;
  font-weight: bold;
  color: black;
  background: white;
  border: none;
  font-size: 48px;
}

#container {
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

#container_clock {
  width: 46vw;
  height: 46vw;
  position: relative;
}

.line {
  width: 4px;
  height: 18px;
  position: absolute;
  background: white;
  border-radius: 2px;
}

.line_thin {
  width: 2px;
  height: 14px;
  background: #bdbdbd;
}

.clock-hour {
  position: absolute;
  top: 60px;
  left: calc(50% - 2px);
  width: 10px;
  height: calc(50% - 60px);
  background: white;
  transform-origin: bottom;
  transform: rotate(90deg);
}

.clock-min {
  position: absolute;
  top: 22px;
  left: calc(50% - 2px);
  width: 6px;
  height: calc(50% - 24px);
  background: white;
  transform-origin: bottom;
  transform: rotate(0deg);
}

.clock-sec {
  position: absolute;
  top: 10px;
  left: calc(50%);
  width: 2px;
  height: calc(50% - 10px);
  background: #ffa015;
  transform-origin: bottom;
  transform: rotate(0deg);
  transition-property: transform;
}

#container_calendar {
  width: 46vw;
  color: white;
}

#container_calendar table {
  width: 100%;
}

#container_calendar td {
  text-align: center;
}

.td_today {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.today {
  color: black;
  background: white;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: bold;
  -webkit-text-stroke: 0.4px black !important;
}

.month {
  line-height: 48px !important;
  font-size: 24px !important;
}

.saturday {
  color: #616cc0 !important;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #616cc0 !important;
}

.holiday {
  color: #b65a53 !important;
  font-weight: bold;
  -webkit-text-stroke: 0.2px #b65a53 !important;
}

#container_calendar table tr th {
  color: white;
  line-height: 38px;
  font-size: 20px;
  -webkit-text-stroke: 0.1px white;
}

#container_calendar table tr td {
  color: white;
  line-height: 38px;
  font-size: 22px;
  -webkit-text-stroke: 0.5px white;
}

/* 画面が横長の場合（ランドスケープモード） */
@media (min-aspect-ratio: 1/1) {
  #container {
    flex-direction: row;
  }
}

/* 画面が縦長の場合（ポートレートモード） */
@media (max-aspect-ratio: 1/1) {
  #container {
    flex-direction: column;
  }

  #container_clock {
    width: 49vh;
    height: 49vh;
  }

  #container_calendar {
    width: 98vw;
  }
}
